
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Employee name"  name="name">
      </div>
    </div>
    <div class="row mb-3">
      <label for="role" class="col-sm-2 col-form-label">Role</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="role" placeholder="Designation"  name="role">
      </div>
    </div>
    <div class="row mb-3">
        <label for="salary" class="col-sm-2 col-form-label">Salary</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="salary" placeholder="Enter salary" name="salary">
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="email address" name="email">
        </div>
      </div>
   