
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" value="<%=employee.name%>">
    </div>
  </div>
  <div class="row mb-3">
    <label for="role" class="col-sm-2 col-form-label">Role</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="role" name="role" value="<%=employee.role%>">
    </div>
  </div>
  <div class="row mb-3">
      <label for="salary" class="col-sm-2 col-form-label">Salary</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="salary" name="salary" value="<%=employee.salary%>">
      </div>
  </div>
  <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email" value="<%=employee.email%>">
      </div>
    </div>